.sidebar {
  padding: 50px;
  background: gray;
  width: 300px;
}

.photo {
  border-radius: 2%;
}

.section {
  margin-top: 50px;
}

.title {
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
